select,
input,
textarea,
.uneditable-input,
.form-inline .form-control,
.navbar-form .form-control {
    width: 100%;
}

.article__content--page .sharedaddy {
	display: none;
}

p a.txt-btn {
	text-decoration: none;
}

table {
    @include make-table();

    @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.article__page {
    padding-bottom: 120px;
}

.home.page-template-default .article__page,
.article-bottom-0 .article__page {
    padding-bottom: 0;
}

.error404 form.search {
    margin: 0;

    .search-field {
        margin-bottom: 40px;
    }
}

.error-404-content .widget + .widget {
    margin-top: 40px;
}

