.article__page {
    padding-bottom: 120px;
}

.home.page-template-default .article__page,
.article-bottom-0 .article__page {
    padding-bottom: 0;
}

.error404 form.search {
    margin: 0;

    .search-field {
        margin-bottom: 40px;
    }
}

.error-404-content .widget + .widget {
    margin-top: 40px;
}