.popular-posts-carousel,
.related-post-carousel {
	&.owl-carousel {
		
		&:hover {
			.owl-prev,
			.owl-next {
				cursor: pointor;

				&:hover {
					opacity: 1;
				}
			}

			.owl-prev {
				opacity: .25;
			}

			.owl-next {
				opacity: .25;
			}
		}
	}
}

.popular-posts-carousel {
	.categories {
		height: 22px;
		overflow: hidden;

		a {
			border: none;
		}
	}

	h4 {
		height: 24px;
		overflow: hidden;
	}

	figure :not(.icon-overlay) a:hover,
	figure:not(.icon-overlay) > a:hover {
		opacity: 1;
	}

	a {
		&:hover {
			color: #fff;
		}
	}

	figcaption {
		cursor: pointer;
	}
}






