.popular-posts-carousel {
	.categories {
		height: 22px;
		overflow: hidden;
		
		a {
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}
	}

	&.owl-carousel {
		.owl-nav {
			text-align: center;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 18px;
			z-index: 1;
		}

		.owl-prev {
			left: -60px;
		}
		.owl-next {
			right: -60px;
		}
		.owl-dots{
			margin-top: 25px;
		}

		&:hover {
			.owl-prev,
			.owl-next {
				cursor: pointor;

				&:hover {
					color: #1abb9c !important;
					opacity: 1;
				}
			}

			.owl-prev {
				left: -65px;
				opacity: .25;
			}

			.owl-next {
				right: -65px;
				opacity: .25;
			}
		}
	}
}

.post-gallery-carousel, .portfolio-post-carousel {
	&.owl-carousel {
		.owl-prev,
		.owl-next {
			position: absolute;
		}
	}
}





