.portfolio-post-carousel {
	margin-bottom: 14px;
	&.owl-carousel {
		.owl-nav button.owl-prev,
		.owl-nav button.owl-next {
			i {
				font-size: 45px !important;
			}
		}
	}
}

.portfolio-post-carousel {
	.owl-dots {
		z-index: 5;
		margin:0 !important;
	}
}