.dropdown.searchbox .menu-text {
	display: none;
}


.social  {
    i:after {
        background-color: rgba(26,187,156,0.9);
        transition: all 200ms ease-out;
    }
}

.member .text-overlay .social li a:hover i {
    color: #506A85;
}