.owl-inner-pagination .owl-dots,
.owl-inner-pagination .owl-prev,
.owl-inner-pagination .owl-next {
	margin-top: -40px;
	top: -60px;
}

.owl-inner-pagination.owl-ui-md .owl-dots,
.owl-inner-pagination.owl-ui-md .owl-prev,
.owl-inner-pagination.owl-ui-md .owl-next {
	margin-top: -50px;
	top: -65px;
}

.owl-inner-pagination.owl-ui-lg .owl-dots,
.owl-inner-pagination.owl-ui-lg .owl-prev,
.owl-inner-pagination.owl-ui-lg .owl-next {
	margin-top: -60px;
	top: -75px;
}

.owl-inner-pagination.owl-outer-nav .owl-prev,
.owl-inner-pagination.owl-outer-nav .owl-next,
.owl-inner-pagination.owl-inner-nav .owl-prev,
.owl-inner-pagination.owl-inner-nav .owl-next {
	margin: auto;
	top: 0;
	bottom: 43px;
}

.owl-inner-pagination .owl-dots {
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
	opacity: 0;
}

.owl-inner-pagination:hover .owl-dots {
	opacity: 1;
}

// .owl-inner-pagination.owl-inner-nav .owl-dots,
// .owl-inner-pagination.owl-outer-nav .owl-dots {
// 	//top: -45px;
// 	top: -5px;
// }

// .owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-dots,
// .owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-dots {
// 	top: -50px;
// }

// .owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-dots,
// .owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-dots {
// 	top: -60px;
// }

// .owl-inner-pagination.owl-inner-nav:hover .owl-dots,
// .owl-inner-pagination.owl-outer-nav:hover .owl-dots {
// 	//top: -60px;
// 	top: -20px;
// }

// .owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-dots,
// .owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-dots {
// 	top: -65px;
// }

// .owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-dots,
// .owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-dots {
// 	top: -75px;
// }