.site-footer {

	.widget {
		img {
	    	height: auto;
		}

		select,
		img {
			max-width: 100%;
		}
	}

	.widget + .widget {
		margin-top: 60px;
	}

	.widget_custom_html + .wpforms-widget {
		margin-top: 15px;
	}

	#wp-calendar {
		width: 100%;

		thead {
			font-size: 0.714em;

			th {
				padding-bottom: 1em;
				text-align: center;
				border: 1px solid #fff;
				padding: 5px;
				font-size: 14px;
			}
		}

		tbody {

			td {
				border: 1px solid #fff;
				text-align: center;
				padding: 8px;

				a {
					font-weight: bold;
				}
			}

			.pad {
				background: none;
			}
		}
	}

	&.dark-bg {
		#wp-calendar {
			tbody {
				color: #aaa;

			}
		}
	}

	.widget_recent_comments {
		.recentcomments + .recentcomments {
			margin-top: 0.5em;
			padding-top: 0.5em;
		}

		a {
			font-weight: bold;
		}
	}

	.widget_rss {

		.widget-title {
			.rss-widget-icon {
				display: none;
			}

			.rsswidget {
				display: block;
			}
		}

		li {
			.rsswidget {
				font-size: 110%;
				font-weight: bold;
				display: block;
			}

			.rss-date {
				font-size: 90%;
			}

			.rssSummary {
				margin: 0.429em 0;
			}
		}

		li + li {
			margin-top: 1em;

			&:before {
				content: '';
				display: block;
				padding-top: 1em;
			}
		}

		h4 + ul {
			padding: 0;
		}

		ul {
			li {
				&:before {
					content: none;
				}
			}
		}
	}

	.widget_search,
	.sidebar .widget_product_search {
		form.search-form,
		.woocommerce-product-search {
			label {
				display: block;
			}

			.search-field {
				border: 1px solid #dddddd;
			    border-radius: 3px;
			    line-height: 1.286em;
			    width: 100%;
			    color: #818181;
			}

		}

		// .search-submit,
		// input[type=submit],
		// button[type=submit] {
		// 	display: none;
		// }

		form.search {
			margin: 0;
		}
	}


	ul:not(.footer-menu):not(.contacts) li,
	ol li,
	.widget__title + ul li, 
	.menu li {
		margin-bottom: 5px;
	}

	ul,
	ol {
		padding-left: 0;
	}

	p {
		a.txt-btn {
			margin-top: 15px;
		    display: block;
		    text-decoration: none;
		    border: none;
		}
	}

}