$table-bg:                    transparent !default;
$table-cell-padding:          .75rem !default;
$table-border-width:          $border-width !default;
$table-border-color:          $gray-300 !default;